
* {
    margin: 0;
    font-family:  Arial, sans-serif;
    box-sizing: border-box;
}

#container {
    width: 50px;
height: 50px;
position: relative;

}
nav {
    display: flex;
 }
.texto {
    position: absolute;
    color:#fff;
    text-align: left;
    top: 0px;
    width: 350px;
    line-height: 30px;

}
.texto p {

    width: 100%;
    height: 50%;
}
.texto2 {
    position:relative;
    color:rgb(0, 0, 0);
    text-align: left;
    top: 100px;
    width: 350px;
    line-height: 30px;
    height: 30px;
}
.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    background-color: #f5f3f4;
    position: relative;
    height:100%;
    width: 100%;
 }
  .image2 {
    position: absolute;
    top:0%;
    right:0%;

  }
  .image3 {
    position: relative;
    left:17cm;

  }
.menu {

  display: block;
  padding: 10px;
  text-decoration: none;
}

.menu  {
    position:relative;
    text-align: left;
    width: 600px;
  height: 600px;
}





.PoliticadaQualidade {
    display: flex;
    align-items: center;
    font-family: Arial;
    color: rgb(0, 0, 0);
}
.PoliticadaQualidade h1{
    width: 10%;
    height: 10%;
    color: #f5f3f4;
    background-color: #ef6423;
}


.sigq div {
    display:flex;
    background: #FFF;

 
}
.sigq  p {
text-align: left;
}

.avaliacaoexterna {
    display: flex;
    align-items: center;
    font-family: Arial;
    color: #181818;
    

}
.avaliacaoexterna h1{
    width: 100%;
    height: 50%;
    color: #f5f3f4;
    background-color: #034150;
}

.avaliacaoexterna div {
   
    width: 600px;
    height: 300px;
    padding: 10px 20px;
    border-radius: 20px;


}



